Repository MrReasonable/jira-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint-fix, frontend-lint, frontend-format, frontend-type-check, frontend-test, backend-test, e2e-lint, e2e-format, e2e-type-check, yaml-format, markdown-lint

backend-lint-fix:
  name: Backend Lint Fix
  entry: bash -c 'echo "Running backend linting and type checking" && make backend-lint-fix-ci || { echo "Backend lint check failed"; exit 1; }'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend ESLint
  entry: bash -c 'echo "Running ESLint for frontend" && make frontend-lint-fix-ci || { echo "ESLint check failed"; exit 1; }'
  language: system
  pass_filenames: false

frontend-format:
  name: Frontend Prettier
  entry: bash -c 'echo "Running Prettier for frontend" && make frontend-format-ci || { echo "Prettier check failed"; exit 1; }'
  language: system
  pass_filenames: false

frontend-type-check:
  name: Frontend TypeScript
  entry: bash -c 'echo "Running TypeScript check" && cd frontend && pnpm run type-check || { echo "TypeScript check failed"; exit 1; }'
  language: system
  pass_filenames: false

frontend-test:
  name: Frontend Tests
  entry: bash -c 'echo "Running frontend tests" && make frontend-test-ci || { echo "Frontend tests failed"; exit 1; }'
  language: system
  pass_filenames: false

backend-test:
  name: Backend Unit Tests
  entry: bash -c 'echo "Running backend unit tests" && make backend-unit-test-ci || { echo "Backend tests failed"; exit 1; }'
  language: system
  pass_filenames: false

e2e-lint:
  name: E2E Tests ESLint
  entry: bash -c 'echo "Running ESLint for E2E tests" && cd e2e-tests && pnpm run lint:strict || { echo "ESLint check failed"; exit 1; }'
  language: system
  pass_filenames: false

e2e-format:
  name: E2E Tests Prettier
  entry: bash -c 'echo "Running Prettier for E2E tests" && make e2e-format-ci || { echo "Prettier check failed"; exit 1; }'
  language: system
  pass_filenames: false

e2e-type-check:
  name: E2E Tests TypeScript
  entry: bash -c 'echo "Running TypeScript check for E2E tests" && cd e2e-tests && pnpm run type-check || { echo "TypeScript check failed"; exit 1; }'
  language: system
  pass_filenames: false

yaml-format:
  name: YAML Format
  entry: bash -c 'echo "Running YAML formatting" && make yaml-format-ci || { echo "YAML formatting failed"; exit 1; }'
  language: system
  pass_filenames: false

markdown-lint:
  name: Markdown Lint
  entry: bash -c 'echo "Running Markdown linting" && make markdown-lint-ci || { echo "Markdown linting failed"; exit 1; }'
  language: system
  pass_filenames: false

feat: add explicit project key field to Jira configurations
  Makefile
  backend/app/main.py
  backend/app/migrations/versions/002_add_project_key_to_jira_configurations.py
  backend/app/migrations/versions/003_make_project_key_non_nullable.py
  backend/app/mock_jira.py
  backend/app/models.py
  backend/app/schemas.py
  backend/requirements.txt
  backend/tests/conftest.py
  backend/tests/unit/test_schemas.py
  e2e-tests/src/core/configuration.ts
  e2e-tests/src/core/types.ts
  e2e-tests/tests/jira-analyzer.spec.ts
  e2e-tests/tests/jira-charts-errors.spec.ts
  e2e-tests/tests/jira-charts.spec.ts
  e2e-tests/tests/pages/jira-analyzer-page.ts
  e2e-tests/tests/workflow-states-drag-drop.spec.ts
  e2e-tests/tests/workflow-states-edit.spec.ts
  frontend/package.json
  frontend/src/api/jiraApi.ts
  frontend/src/components/ConfigurationForm.test.tsx
  frontend/src/components/ConfigurationForm.tsx
  frontend/vitest.config.ts
Due: backend-lint-fix, frontend-lint, frontend-format, frontend-type-check, frontend-test, backend-test, e2e-lint, e2e-format, e2e-type-check

Added mise.toml to enable setting syncing between systems.
  mise.toml
Due: none

Added uv to mise.toml
  mise.toml
Due: none

Updated dependabot to reduce PRs.
  .github/dependabot.yml
Due: yaml-format

Add constants file for JIRA status values
  backend/app/constants.py
Due: backend-lint-fix, backend-test

Improve database connection handling and error handling in session management
  backend/app/database.py
Due: backend-lint-fix, backend-test

Infrastructure: Update pre-commit configuration and include VSCode settings
  .gitignore
  .vscode/settings.json
Due: none

Frontend: Fix linting issues and improve test files
  frontend/src/App.tsx
  frontend/src/api/jiraApi.test.ts
  frontend/src/api/jiraApi.ts
  frontend/src/hooks/useConfigurationForm.test.ts
  frontend/src/test_pre_commit.ts
  frontend/test/mocks/handlers.ts
Due: frontend-lint, frontend-format, frontend-type-check, frontend-test

Enhance workflow editor with import functionality and improved UI
  frontend/src/components/ConfigurationSection.tsx
  frontend/src/components/WorkflowEditor.test.tsx
  frontend/src/components/WorkflowEditor.tsx
Due: frontend-lint, frontend-format, frontend-type-check, frontend-test

Update configuration form with improved handling of validation states
  frontend/src/hooks/useConfigurationForm.test.ts
  frontend/src/hooks/useConfigurationForm.ts
  frontend/src/types/configurationForm.ts
Due: frontend-lint, frontend-format, frontend-type-check, frontend-test

Add comprehensive tests for Jira workflow endpoints
  backend/app/routers/jira_test.py
Due: backend-lint-fix, backend-test

Backend API: Update Jira API and configurations routes
  backend/app/dependencies.py
  backend/app/main.py
  backend/app/migrations/env.py
  backend/app/routers/configurations.py
  backend/app/routers/jira.py
  backend/app/test_pre_commit.py
Due: backend-lint-fix, backend-test

Add debounce functionality to name availability check
  frontend/src/hooks/useNameAvailability.ts
Due: frontend-lint, frontend-format, frontend-type-check, frontend-test

Update .gitignore to exclude backend Python virtual environment configuration
  .gitignore
Due: none

Enhance workflow manager with Jira integration and state handling
  frontend/src/hooks/useWorkflowManager.test.ts
  frontend/src/hooks/useWorkflowManager.ts
Due: frontend-lint, frontend-format, frontend-type-check, frontend-test

Add backend-specific VSCode settings for Python development
  backend/.vscode/settings.json
Due: none

Add comprehensive project documentation in memory-bank directory
  memory-bank/activeContext.md
  memory-bank/api/README.md
  memory-bank/api/backend-api.md
  memory-bank/api/error-handling.md
  memory-bank/api/jira-integration.md
  memory-bank/api/schemas/configurations.md
  memory-bank/api/schemas/metrics.md
  memory-bank/api/schemas/workflow.md
  memory-bank/deployment/README.md
  memory-bank/deployment/ci-cd-pipeline.md
  memory-bank/deployment/docker-deployment.md
  memory-bank/deployment/environments.md
  memory-bank/deployment/monitoring.md
  memory-bank/features/README.md
  memory-bank/features/configuration-management.md
  memory-bank/features/jql-builder.md
  memory-bank/features/metrics-visualization.md
  memory-bank/features/workflow-editor.md
  memory-bank/integrations/README.md
  memory-bank/integrations/authentication.md
  memory-bank/integrations/jira-cloud.md
  memory-bank/integrations/jira-server.md
  memory-bank/productContext.md
  memory-bank/progress.md
  memory-bank/projectbrief.md
  memory-bank/systemPatterns.md
  memory-bank/techContext.md
  memory-bank/testing/README.md
  memory-bank/testing/e2e-testing.md
  memory-bank/testing/integration-testing.md
  memory-bank/testing/performance-testing.md
  memory-bank/testing/test-data.md
  memory-bank/testing/unit-testing.md
Due: markdown-lint

Fix Markdown linting issues by disabling line length rule and adding language specs to code blocks
  .markdownlint-cli2.jsonc
  memory-bank/api/backend-api.md
  memory-bank/features/jql-builder.md
  memory-bank/features/workflow-editor.md
Due: markdown-lint

Update pre-commit config to use ruff instead of flake8
  .markdownlint-cli2.jsonc
  .pre-commit-config.yaml
  .vscode/launch.json
  backend/app/schemas.py
  memory-bank/INDEX.md
  memory-bank/activeContext.md
  memory-bank/api/backend-api.md
  memory-bank/api/schemas/configurations.md
  memory-bank/api/schemas/metrics.md
  memory-bank/api/schemas/workflow.md
  memory-bank/architecture/README.md
  memory-bank/code-patterns/README.md
  memory-bank/code-patterns/custom-hook-patterns.md
  memory-bank/component-map/README.md
  memory-bank/deployment/ci-cd-pipeline.md
  memory-bank/features/configuration-management.md
  memory-bank/features/jql-builder.md
  memory-bank/maintenance/memory-bank-updates.md
  memory-bank/patterns/README.md
  memory-bank/patterns/cqrs.md
  memory-bank/patterns/functional-programming.md
  memory-bank/patterns/solid.md
  memory-bank/performance/README.md
  memory-bank/productContext.md
  memory-bank/progress.md
  memory-bank/projectbrief.md
  memory-bank/systemPatterns.md
  memory-bank/techContext.md
  memory-bank/testing/unit-testing.md
  memory-bank/troubleshooting/README.md
  scripts/update-memory-bank.sh
  scripts/verify_doc_anchors.py
Due: backend-lint-fix, backend-test, yaml-format, markdown-lint

Fix bandit configuration in pre-commit hooks
  .pre-commit-config.yaml
  backend/app/migrations/versions/003_make_project_key_non_nullable.py
  backend/run_migrations.py
Due: backend-lint-fix, backend-test, yaml-format

Refactor response handling in jiraApi to use optional chaining for improved safety
  frontend/src/api/jiraApi.ts
Due: frontend-lint, frontend-format, frontend-type-check, frontend-test

Path conditions:
  backend-lint-fix: any of: ^backend/.*\.py$, but not: ^backend/app/migrations/
  frontend-lint: any of: ^frontend/.*\.(ts|tsx)$
  frontend-format: any of: ^frontend/.*\.(ts|tsx|css|json)$
  frontend-type-check: any of: ^frontend/.*\.(ts|tsx)$
  frontend-test: any of: ^frontend/.*\.(ts|tsx)$
  backend-test: any of: ^backend/.*\.py$, but not: ^backend/app/migrations/
  e2e-lint: any of: ^e2e-tests/.*\.(ts|tsx)$
  e2e-format: any of: ^e2e-tests/.*\.(ts|tsx|json)$
  e2e-type-check: any of: ^e2e-tests/.*\.(ts|tsx)$
  yaml-format: any of: \.(yml|yaml)$
  markdown-lint: any of: \.md$, but not: node_modules/
