Repository MrReasonable/jira-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint-fix, frontend-lint, frontend-format, frontend-type-check, frontend-test, backend-test

.pre-commit-config.yaml:

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key

  # Backend Python hooks
  - repo: local
    hooks:
      - id: backend-lint-fix
        name: Backend Lint Fix
        entry: make backend-lint-fix-ci
        language: system
        files: ^backend/.*\.py$
        exclude: ^backend/app/migrations/
        pass_filenames: false

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        files: ^backend/
        exclude: ^backend/(app/migrations/|tests/unit/conftest\.py)
        args: [--explicit-package-bases, --namespace-packages, --ignore-missing-imports]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.7
    hooks:
      - id: bandit
        args: ["-c", "backend/pyproject.toml"]
        additional_dependencies: ["bandit[toml]"]
        files: ^backend/
        exclude: ^backend/app/migrations/

  # Frontend hooks
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: cd frontend && pnpm run lint:fix
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: frontend-format
        name: Frontend Prettier
        entry: cd frontend && pnpm run format
        language: system
        files: ^frontend/.*\.(ts|tsx|css|json)$
        pass_filenames: false

      - id: frontend-type-check
        name: Frontend TypeScript
        entry: make frontend-type-check-ci
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: frontend-test
        name: Frontend Tests
        entry: make frontend-test-ci
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: backend-test
        name: Backend Unit Tests
        entry: make backend-unit-test-ci
        language: system
        files: ^backend/.*\.py$
        exclude: ^backend/app/migrations/
        pass_filenames: false

Added basic e2e tests
  .env.example
  .github/workflows/e2e-tests.yml
  Makefile
  README.md
  backend/app/main.py
  backend/app/mock_jira.py
  docker-compose.dev.yml
  e2e-tests/.gitignore
  e2e-tests/.prettierrc
  e2e-tests/README.md
  e2e-tests/eslint.config.js
  e2e-tests/global-teardown.ts
  e2e-tests/package.json
  e2e-tests/playwright.config.ts
  e2e-tests/pnpm-lock.yaml
  e2e-tests/run-tests.sh
  e2e-tests/tests/jira-analyzer.spec.ts
  e2e-tests/tests/pages/jira-analyzer-page.ts
  e2e-tests/tsconfig.json
  frontend/src/index.css
  frontend/tailwind.config.js
Due: backend-lint-fix, frontend-format, backend-test

Fixed broken tests and combined Dockerfiles into multi-stage builds.
  .env.example
  .gitignore
  .pre-commit-config.yaml
  Makefile
  backend/Dockerfile
  backend/Dockerfile.dev
  backend/app/database.py
  backend/app/logger.py
  backend/app/main.py
  backend/app/migrations/versions/001_initial_schema.py
  backend/pytest.ini
  backend/tests/conftest.py
  backend/tests/test_api_metrics.py
  backend/tests/test_input_validation.py
  backend/tests/test_metric_calculations.py
  backend/tests/unit/test_metrics.py
  docker-compose.dev.yml
  docker-compose.yml
  frontend/Caddyfile
  frontend/Dockerfile
  frontend/Dockerfile.ci
  frontend/Dockerfile.dev
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend-lint-fix, frontend-format, backend-test

Added basic e2e tests
  frontend/Caddyfile
  frontend/index.html
  frontend/src/index.css
  frontend/tailwind.config.js
Due: frontend-format

Fixed tailwind config
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/postcss.config.js
  frontend/src/index.css
  frontend/tailwind.config.cjs
  frontend/tailwind.config.js
  frontend/vite.config.ts
Due: frontend-lint, frontend-format, frontend-type-check, frontend-test

Attempt to fix github ci workflow.
  .github/workflows/ci.yml
Due: none

Attempt to fix github e2e-tests github workflow.
  .github/workflows/e2e-tests.yml
Due: none

Fixed Makefile help command that wasn't showing e2e-* tasks
  Makefile
Due: none

Attempted to fix github actions.
  .github/workflows/ci.yml
  Makefile
Due: none

Created script to normalise all versions of software used in dockerfiles and github actions.
  .github/workflows/code-coverage.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/pre-commit.yml
  Makefile
  README.md
  frontend/Dockerfile
  update-versions.js
  versions.json
Due: none

Fixed e2e-test failures.
  .github/workflows/e2e-tests.yml
  Makefile
  backend/app/mock_jira.py
  backend/jira_analyzer.db
  e2e-tests/README.md
  e2e-tests/run-tests.sh
  e2e-tests/tests/jira-analyzer.spec.ts
  e2e-tests/tests/pages/jira-analyzer-page.ts
  frontend/src/components/ConfigurationList.test.tsx
  frontend/src/components/ConfigurationList.tsx
  frontend/src/components/ConfigurationsHeader.test.tsx
  frontend/src/components/ConfigurationsHeader.tsx
  frontend/src/hooks/useJiraConfigurations.test.ts
  frontend/src/hooks/useJiraConfigurations.ts
Due: backend-lint-fix, frontend-lint, frontend-format, frontend-type-check, frontend-test, backend-test

Trying to fix linting issue.
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/code-coverage.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/pre-commit.yml
  .gitignore
  .pre-commit-config.yaml
  .yamlfmt.yml
  .yamllint.yml
  Dockerfile.node-base
  Dockerfile.yamlfmt
  LICENSE
  Makefile
  README.md
  backend/requirements.txt
  docker-compose.dev.yml
  docker-compose.yml
  e2e-tests/Dockerfile
  e2e-tests/README.md
  e2e-tests/eslint.config.js
  e2e-tests/package.json
  e2e-tests/pnpm-lock.yaml
  e2e-tests/tests/jira-analyzer.spec.ts
  e2e-tests/tests/pages/jira-analyzer-page.ts
  frontend/eslint.config.js
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/App.test.tsx
  frontend/src/components/ConfigurationList.tsx
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.test.json
Due: frontend-lint, frontend-format, frontend-type-check, frontend-test

Fixed e2e tests and failing github actions.
  .github/workflows/e2e-tests.yml
  e2e-tests/build.js
  e2e-tests/package.json
  e2e-tests/playwright.config.ts
  e2e-tests/pnpm-lock.yaml
  e2e-tests/run-tests.sh
  e2e-tests/tests/jira-analyzer.spec.ts
  e2e-tests/tests/pages/jira-analyzer-page.ts
  e2e-tests/tsconfig.json
  frontend/src/App.tsx
  frontend/src/components/ConfigurationForm.tsx
  frontend/src/components/JqlInput.tsx
Due: frontend-lint, frontend-format, frontend-type-check, frontend-test

Fixed linting issues and failing tests.
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  docker-compose.dev.yml
  e2e-tests/build.js
  e2e-tests/package.json
  e2e-tests/playwright.config.ts
  e2e-tests/pnpm-lock.yaml
  e2e-tests/tests/jira-analyzer.spec.ts
  e2e-tests/tests/pages/jira-analyzer-page.ts
  frontend/src/App.tsx
  frontend/src/components/ConfigurationForm.test.tsx
Due: frontend-lint, frontend-format, frontend-type-check, frontend-test

Switched github workflows to not use custom docker containers but to run the actions using native github action commands.
  .github/workflows/ci.yml
  .github/workflows/code-coverage.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/pre-commit.yml
  e2e-tests/playwright.config.ts
  e2e-tests/run-tests.sh
  e2e-tests/tests/jira-analyzer.spec.ts
  e2e-tests/tests/pages/jira-analyzer-page.ts
  frontend/Dockerfile.standalone
Due: none

Fixed README file.
  .github/WORKFLOWS.md
  .markdownlint-cli2.jsonc
  .pre-commit-config.yaml
  Dockerfile.markdownlint
  Makefile
  README.md
  e2e-tests/README.md
  frontend/README.md
Due: none

Attempt to fix e2e test run on github actions.
  .github/workflows/e2e-tests.yml
  e2e-tests/package.json
  e2e-tests/playwright.config.ts
  e2e-tests/pnpm-lock.yaml
  e2e-tests/tests/jira-analyzer.spec.ts
  e2e-tests/tests/pages/jira-analyzer-page.ts
Due: none

Bumped rollup version.
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend-format

Another attempt to fix e2e-tests in github actions.
  .github/workflows/e2e-tests.yml
  e2e-tests/playwright.config.ts
  e2e-tests/tests/pages/jira-analyzer-page.ts
  frontend/src/api/jiraApi.ts
  frontend/src/utils/logger.ts
Due: frontend-lint, frontend-format, frontend-type-check, frontend-test

Re-enabled all disabled e2e tests.
  e2e-tests/tests/jira-analyzer.spec.ts
  e2e-tests/tests/pages/jira-analyzer-page.ts
Due: none
