Repository MrReasonable/jira-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint-fix, frontend-lint, frontend-format, frontend-type-check, frontend-test, backend-test, e2e-lint, e2e-format, e2e-type-check, yaml-format, markdown-lint

backend-lint-fix:
  name: Backend Lint Fix
  entry: bash -c 'echo "Running backend linting and type checking" && make backend-lint-fix-ci || { echo "Backend lint check failed"; exit 1; }'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend ESLint
  entry: bash -c 'echo "Running ESLint for frontend" && make frontend-lint-fix-ci || { echo "ESLint check failed"; exit 1; }'
  language: system
  pass_filenames: false

frontend-format:
  name: Frontend Prettier
  entry: bash -c 'echo "Running Prettier for frontend" && make frontend-format-ci || { echo "Prettier check failed"; exit 1; }'
  language: system
  pass_filenames: false

frontend-type-check:
  name: Frontend TypeScript
  entry: bash -c 'echo "Running TypeScript check" && cd frontend && pnpm run type-check || { echo "TypeScript check failed"; exit 1; }'
  language: system
  pass_filenames: false

frontend-test:
  name: Frontend Tests
  entry: bash -c 'echo "Running frontend tests" && make frontend-test-ci || { echo "Frontend tests failed"; exit 1; }'
  language: system
  pass_filenames: false

backend-test:
  name: Backend Unit Tests
  entry: bash -c 'echo "Running backend unit tests" && make backend-unit-test-ci || { echo "Backend tests failed"; exit 1; }'
  language: system
  pass_filenames: false

e2e-lint:
  name: E2E Tests ESLint
  entry: bash -c 'echo "Running ESLint for E2E tests" && cd e2e-tests && pnpm run lint:strict || { echo "ESLint check failed"; exit 1; }'
  language: system
  pass_filenames: false

e2e-format:
  name: E2E Tests Prettier
  entry: bash -c 'echo "Running Prettier for E2E tests" && make e2e-format-ci || { echo "Prettier check failed"; exit 1; }'
  language: system
  pass_filenames: false

e2e-type-check:
  name: E2E Tests TypeScript
  entry: bash -c 'echo "Running TypeScript check for E2E tests" && cd e2e-tests && pnpm run type-check || { echo "TypeScript check failed"; exit 1; }'
  language: system
  pass_filenames: false

yaml-format:
  name: YAML Format
  entry: bash -c 'echo "Running YAML formatting" && make yaml-format-ci || { echo "YAML formatting failed"; exit 1; }'
  language: system
  pass_filenames: false

markdown-lint:
  name: Markdown Lint
  entry: bash -c 'echo "Running Markdown linting" && make markdown-lint-ci || { echo "Markdown linting failed"; exit 1; }'
  language: system
  pass_filenames: false

Added workflow selection system.
  e2e-tests/playwright.config.ts
  e2e-tests/run-tests.sh
  e2e-tests/tests/jira-analyzer.spec.ts
  e2e-tests/tests/pages/jira-analyzer-page.ts
Due: e2e-lint, e2e-format, e2e-type-check

Eslint runs against root directories of frontend and e2e tests.
  .github/workflows/ci.yml
  Makefile
  e2e-tests/tests/jira-analyzer.spec.ts
  frontend/eslint.config.js
  frontend/src/App.test.tsx
  frontend/vite.config.ts
Due: frontend-lint, frontend-format, frontend-type-check, frontend-test, e2e-lint, e2e-format, e2e-type-check, yaml-format

Setup VSCode config. Fixed some issues with VSCode incorrectly complaining about importing TS types.
  .editorconfig
  .vscode/settings.json
  frontend/jsconfig.json
  frontend/src/components/WorkflowStatesList.test.tsx
  frontend/src/components/WorkflowStatesList.tsx
  frontend/src/components/workflow/WorkflowStateDragOverlay.tsx
  frontend/src/components/workflow/index.ts
  frontend/src/hooks/useWorkflowStates.test.ts
  frontend/src/hooks/useWorkflowStates.ts
  frontend/tsconfig.app.json
  frontend/vite.config.ts
Due: frontend-lint, frontend-format, frontend-type-check, frontend-test

Fixed openapi docs for the app.
  backend/app/main.py
  frontend/Caddyfile
Due: backend-lint-fix, backend-test

Fixed tests for drag-and-drop functionality.
  backend/app/main.py
  e2e-tests/README.md
  e2e-tests/WORKFLOW_STATES_TESTING.md
  e2e-tests/eslint.config.js
  e2e-tests/tests/jira-analyzer.spec.ts
  e2e-tests/tests/pages/jira-analyzer-page.ts
  e2e-tests/tests/utils/screenshot-helper.ts
  e2e-tests/tests/workflow-states-creation.spec.ts
  e2e-tests/tests/workflow-states-drag-drop.spec.ts
  e2e-tests/tests/workflow-states-edit.spec.ts
  frontend/src/App.tsx
  frontend/src/components/ConfigurationList.tsx
  frontend/src/components/ConfigurationsHeader.tsx
  frontend/src/components/WorkflowStatesList.test.tsx
  frontend/src/components/workflow/WorkflowStateItem.tsx
  frontend/src/hooks/useJiraConfigurations.ts
  frontend/test/mocks/solid-dnd-mock.ts
Due: backend-lint-fix, frontend-lint, frontend-format, frontend-type-check, frontend-test, backend-test, e2e-lint, e2e-format, e2e-type-check, markdown-lint

Switched codecov to coveralls
  .github/WORKFLOWS.md
  .github/workflows/code-coverage.yml
  frontend/vitest.config.ts
Due: frontend-lint, frontend-format, frontend-type-check, frontend-test, yaml-format, markdown-lint

Added build badges to readme.
  README.md
Due: markdown-lint

Improved test coverage.
  frontend/src/api/jiraApi.test.ts
  frontend/src/api/jiraApi.ts
  frontend/src/components/workflow/WorkflowStateDragOverlay.test.tsx
  frontend/src/components/workflow/WorkflowStateItem.test.tsx
  frontend/src/components/workflow/WorkflowStatesList.test.tsx
  frontend/src/index.test.ts
  frontend/src/types/workflow.test.ts
  frontend/src/utils/idGenerator.test.ts
  frontend/src/utils/logger.test.ts
  frontend/vitest.config.ts
Due: frontend-lint, frontend-format, frontend-type-check, frontend-test

Removed deprecated code.
  frontend/src/components/WorkflowStatesList.test.tsx
  frontend/src/components/WorkflowStatesList.tsx
Due: frontend-lint, frontend-format, frontend-type-check, frontend-test

Fix e2e tests by using data-testid selectors
  e2e-tests/tests/pages/jira-analyzer-page.ts
Due: e2e-lint, e2e-format, e2e-type-check

Comprehensive project updates and E2E test fixes
  .github/workflows/ci.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/pre-commit.yml
  .vscode/settings.json
  CLAUDE.md
  Dockerfile.node-base
  e2e-tests/build.js
  e2e-tests/package.json
  e2e-tests/run-tests.sh
  e2e-tests/tests/jira-analyzer.spec.ts
  e2e-tests/tests/workflow-states-creation.spec.ts
  e2e-tests/tests/workflow-states-drag-drop.spec.ts
  e2e-tests/tests/workflow-states-edit.spec.ts
  e2e-tests/tsconfig.json
  frontend/Dockerfile.standalone
  frontend/package.json
  frontend/src/components/ConfigurationForm.tsx
  frontend/src/components/workflow/WorkflowStateItem.tsx
  frontend/src/components/workflow/WorkflowStatesList.tsx
Due: frontend-lint, frontend-format, frontend-type-check, frontend-test, e2e-lint, e2e-format, e2e-type-check, yaml-format, markdown-lint

Fix UI and testing issues
  e2e-tests/tests/pages/jira-analyzer-page.ts
  frontend/src/components/ConfigurationForm.tsx
  frontend/src/components/workflow/WorkflowStateItem.tsx
  frontend/src/components/workflow/WorkflowStatesList.tsx
Due: frontend-lint, frontend-format, frontend-type-check, frontend-test, e2e-lint, e2e-format, e2e-type-check

Fixed linting issues.
  .gitignore
  .markdownlint-cli2.jsonc
  .vscode/settings.json
  Dockerfile.markdownlint
  e2e-tests/WORKFLOW_STATES_TESTING.md
  e2e-tests/tests/pages/jira-analyzer-page.ts
Due: e2e-lint, e2e-format, e2e-type-check, markdown-lint

Fixed test runner.
  Dockerfile.node-base
  e2e-tests/package.json
  e2e-tests/run-tests.sh
  frontend/package.json
  versions.json
Due: frontend-format, e2e-format

Fix test configuration and runner issues
  .github/workflows/ci.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/pre-commit.yml
  Dockerfile.node-base
  Makefile
  e2e-tests/tests/pages/jira-analyzer-page.ts
  frontend/Dockerfile.standalone
  frontend/src/components/ConfigurationForm.test.tsx
  frontend/src/index.test.ts
  frontend/vitest.config.ts
Due: frontend-lint, frontend-format, frontend-type-check, frontend-test, e2e-lint, e2e-format, e2e-type-check, yaml-format

Updated all versions of software in github workflows.
  .github/workflows/ci.yml
  .github/workflows/code-coverage.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/pre-commit.yml
  versions.json
Due: yaml-format

Refactored e2e tests to seperate test sources from test files.
  .github/workflows/e2e-tests.yml
  .github/workflows/pre-commit.yml
  Makefile
  e2e-tests/package.json
  e2e-tests/src/README.md
  e2e-tests/src/core/configuration.ts
  e2e-tests/src/core/jql.ts
  e2e-tests/src/core/navigation.ts
  e2e-tests/src/core/types.ts
  e2e-tests/src/core/workflow-states.ts
  e2e-tests/src/index.ts
  e2e-tests/src/pages/jira-analyzer-page.ts
  e2e-tests/src/utils/screenshot-helper.ts
  e2e-tests/tests/workflow-states-creation.spec.ts
  e2e-tests/tests/workflow-states-drag-drop.spec.ts
  e2e-tests/tsconfig.json
  frontend/package.json
  frontend/src/components/MetricsSection.test.tsx
  versions.json
Due: frontend-lint, frontend-format, frontend-type-check, frontend-test, e2e-lint, e2e-format, e2e-type-check, yaml-format, markdown-lint

Suppressed outputting command to CLI when executed from Makefile. Only command output is displayed, not actual command itself.
  Makefile
Due: none

Fixed typescript issue with WorkFlowStatesList
  e2e-tests/run-tests.sh
  frontend/src/components/workflow/WorkflowStatesList.tsx
Due: frontend-lint, frontend-format, frontend-type-check, frontend-test

Fixed linting issues in yaml files.
  .pre-commit-config.yaml
  Makefile
  e2e-tests/pnpm-lock.yaml
  frontend/pnpm-lock.yaml
Due: yaml-format

Changed e2e-test runner to avoid outputting docker build steps. Updated pnpm.
  .github/workflows/e2e-tests.yml
  .github/workflows/pre-commit.yml
  e2e-tests/package.json
  e2e-tests/pnpm-lock.yaml
  e2e-tests/run-tests.sh
  frontend/package.json
  versions.json
Due: frontend-format, e2e-format, yaml-format

Added ability to run e2e-tests with debugging disabled.
  .github/workflows/e2e-tests.yml
  Makefile
  e2e-tests/README.md
  e2e-tests/package.json
  e2e-tests/run-tests.sh
Due: e2e-format, yaml-format, markdown-lint

Fixed chart rendering errors.
  e2e-tests/README.md
  e2e-tests/run-tests.sh
  e2e-tests/tests/jira-charts-errors.spec.ts
  e2e-tests/tests/jira-charts.spec.ts
  e2e-tests/tests/pages/jira-analyzer-page.ts
  frontend/src/components/LeadTimeChart.empty-data.test.tsx
  frontend/src/components/MetricsSection.chart-rendering.test.tsx
  frontend/src/components/ThroughputChart.tsx
  frontend/src/components/withChart.chart-rendering.test.tsx
  frontend/src/components/withChart.empty-data.test.tsx
  frontend/src/components/withChart.tsx
Due: frontend-lint, frontend-format, frontend-type-check, frontend-test, e2e-lint, e2e-format, e2e-type-check, markdown-lint

Fixed pre-commit github action.
  .github/workflows/pre-commit.yml
Due: yaml-format

Improved Makefile to use variables.
  Makefile
Due: none

Changed hover cursor over UI elements to be more sensible.
  Makefile
  frontend/src/App.tsx
  frontend/src/components/ConfigurationForm.tsx
  frontend/src/components/ConfigurationList.tsx
  frontend/src/components/ConfigurationsHeader.tsx
  frontend/src/components/JqlInput.tsx
  frontend/src/components/workflow/WorkflowStateItem.tsx
  frontend/src/components/workflow/WorkflowStatesList.tsx
Due: frontend-lint, frontend-format, frontend-type-check, frontend-test

Path conditions:
  backend-lint-fix: any of: ^backend/.*\.py$, but not: ^backend/app/migrations/
  frontend-lint: any of: ^frontend/.*\.(ts|tsx)$
  frontend-format: any of: ^frontend/.*\.(ts|tsx|css|json)$
  frontend-type-check: any of: ^frontend/.*\.(ts|tsx)$
  frontend-test: any of: ^frontend/.*\.(ts|tsx)$
  backend-test: any of: ^backend/.*\.py$, but not: ^backend/app/migrations/
  e2e-lint: any of: ^e2e-tests/.*\.(ts|tsx)$
  e2e-format: any of: ^e2e-tests/.*\.(ts|tsx|json)$
  e2e-type-check: any of: ^e2e-tests/.*\.(ts|tsx)$
  yaml-format: any of: \.(yml|yaml)$
  markdown-lint: any of: \.md$, but not: node_modules/
